{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "all",
	"semi": false,
	"printWidth": 100,
	"endOfLine": "lf",
	"htmlWhitespaceSensitivity": "ignore",
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
